
$white : #ffff;
$white-drack-light : #f7f7f7;
$white-drack : #c9c9c9;
$primary-color:#d8ba8e;
$secondery-color:#a4a4a4;
$tertiary-color:#efefef;
$fourth-color:#d7d8d9;
$fivet-color:#f7f8f9;
$black:#000;
$dark:#232628;
$dip-yellow:#ffb600;
$body-color:#b5bec4;

$primary-fonts: 'Poppins', sans-serif;;